streamlit
pandas
numpy
plotly
scikit-learn
gTTS
pyttsx3
SpeechRecognition


streamlit==1.39.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
plotly==5.24.1
gTTS==2.5.3
pyttsx3==2.98
SpeechRecognition==3.10.4
